/*! LAPA Version 1.0 */
/*
/*
 * Go Big or Go Home
 */
/* ==========================================================================
   Susy & Compass
   ========================================================================== */
/* ==========================================================================
   Susy Setting
   ========================================================================== */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul, ol, dd, p, address, pre, blockquote, table {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

ul, ol {
  list-style: none;
}

/* ==========================================================================
   Grid with Susy
   ========================================================================== */
/**
 * Example
 */
/* ==========================================================================
   Header
   ========================================================================== */
body {
  background: #f5f5f5;
  font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #444;
}

/* ==========================================================================
   Header
   ========================================================================== */
#lapa-header {
  background: #fff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
}

.lapa-container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.lapa-container:after {
  content: " ";
  display: block;
  clear: both;
}

.lapa-header__content {
  height: 78px;
}

.lapa-logo {
  width: 30.55556%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  height: 78px;
}
.lapa-logo img {
  width: 130px;
}
@media (min-width: 768px) {
  .lapa-logo {
    width: 22.22222%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
  }
}
@media (min-width: 1024px) {
  .lapa-logo {
    width: 13.88889%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
  }
}

.lapa-logo__link {
  text-decoration: none;
  display: block;
  width: 130px;
  height: 46px;
  margin-top: 10px;
}

.lapa-nav {
  width: 55.55556%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  margin-top: 30px;
}
@media (max-width: 480px) {
  .lapa-nav {
    display: none;
  }
}
@media (min-width: 768px) {
  .lapa-nav {
    width: 38.88889%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
  }
}
@media (min-width: 1024px) {
  .lapa-nav {
    width: 55.55556%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
    margin-left: -20px;
  }
}
.lapa-nav .lapa-nav__link {
  padding: 5px 20px;
  color: #a8a8a8;
  text-decoration: none;
  cursor: pointer;
}
.lapa-nav .lapa-nav__link:hover {
  color: #6869D1;
}
.lapa-nav .lapa-nav--children .lapa-nav__link {
  padding-right: 30px;
  position: relative;
}
.lapa-nav .lapa-nav--children .lapa-nav__link::before, .lapa-nav .lapa-nav--children .lapa-nav__link::after {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  background: #c9cbc4;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: width 0.3s, -webkit-transform 0.3s;
  -moz-transition: width 0.3s, -moz-transform 0.3s;
  transition: width 0.3s, transform 0.3s;
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1px;
  display: inline-block;
  height: 2px;
  width: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.lapa-nav .lapa-nav--children .lapa-nav__link::before {
  right: 12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.lapa-nav .lapa-nav--children .lapa-nav__link::after {
  right: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.lapa-nav .lapa-nav--children .lapa-nav__link.selected {
  color: #6869D1;
}
.lapa-nav .lapa-nav--children .lapa-nav__link.selected::before {
  width: 16px;
  right: 11px;
  -webkit-transform: translateX(5px) rotate(-45deg);
  -moz-transform: translateX(5px) rotate(-45deg);
  -ms-transform: translateX(5px) rotate(-45deg);
  -o-transform: translateX(5px) rotate(-45deg);
  transform: translateX(5px) rotate(-45deg);
}
.lapa-nav .lapa-nav--children .lapa-nav__link.selected::after {
  width: 16px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.lapa-search {
  width: 22.22222%;
  float: right;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
}
@media (min-width: 768px) {
  .lapa-search {
    width: 22.22222%;
    float: right;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
  }
}
@media (min-width: 1024px) {
  .lapa-search {
    width: 22.22222%;
    float: right;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
  }
}
@media (max-width: 480px) {
  .lapa-search {
    display: none;
  }
}
.lapa-search input {
  height: 36px;
  border-radius: 4px;
  border: 1px solid #f0efef;
  color: #999;
  padding: 0 12px;
  width: 100%;
  margin-top: 22px;
  font-size: 14px;
}

.lapa-nav__item {
  list-style: none;
  display: inline-block;
  float: left;
}

/* ==========================================================================
   Main Content
   ========================================================================== */
#lapa-content {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
#lapa-content:after {
  content: " ";
  display: block;
  clear: both;
}

/* ==========================================================================
   Categories
   ========================================================================== */
.lapa-sidebar {
  width: 13.88889%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
}

.lapa-sidebar__list li {
  line-height: 1.7;
  padding-bottom: 10px;
}
.lapa-sidebar__list a {
  font-size: 14px;
  text-decoration: none;
  color: #666;
}
.lapa-sidebar__list a:active {
  color: #555;
}

/* ==========================================================================
   Lapa Post
   ========================================================================== */
.lapa-post {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.lapa-post:after {
  content: " ";
  display: block;
  clear: both;
}

.lapa-post__home {
  overflow: hidden;
  *zoom: 1;
  padding-top: 2.77778%;
}
.lapa-post__home li {
  width: 97.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  margin-bottom: 2.77778%;
}
@media (min-width: 768px) {
  .lapa-post__home li {
    width: 47.22222%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
  }
}
@media (min-width: 1024px) {
  .lapa-post__home li {
    width: 30.55556%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
  }
}
.lapa-post__home li .lapa-post__item {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
}
.lapa-post__home li .lapa-post__item:hover {
  webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}
.lapa-post__home li .lapa-post__link {
  display: block;
  height: 500px;
  background-size: cover;
  overflow: hidden;
  text-indent: -99999px;
  border-radius: 2px 2px 0 0;
}
.lapa-post__home .lapa-post__info {
  background: #fff;
  padding: 7px 15px 10px 15px;
  border-radius: 0 0 2px 2px;
  position: relative;
  max-height: 65px;
}
.lapa-post__home .lapa-post__name {
  font-size: 1.1em;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 290px;
}
.lapa-post__home .lapa-post__name-link {
  color: #444;
  text-decoration: none;
}
.lapa-post__home .lapa-post__name-link:hover {
  color: #666;
}
.lapa-post__home .lapa-post__des {
  font-size: 0.9em;
  color: #666;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 290px;
}
.lapa-post__home .lapa-post__visit {
  display: block;
  position: absolute;
  width: 65px;
  height: 65px;
  right: 0px;
  top: 0px;
  border-radius: 0 0 2px 0;
  overflow: hidden;
  text-indent: -9999px;
  background: #fff;
  border-left: 1px solid #f1f1f1;
}
.lapa-post__home .lapa-post__visit:hover {
  background: #f4f4f4;
}
.lapa-post__home .lapa-post__visit:before {
  display: block;
  width: 16px;
  height: 16px;
  background: url(/img/link.svg) no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
  content: "";
}

/* ==========================================================================
   Lapa Category
   ========================================================================== */
.lapa-category {
  position: absolute;
  width: 100%;
  top: 78px;
  left: 0;
  background: #fff;
  box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
  z-index: 3;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}
.lapa-category.active {
  opacity: 1;
  visibility: visible;
}
.lapa-category .lapa-category__list {
  width: 97.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  float: none;
  overflow: hidden;
  *zoom: 1;
  padding-top: 15px;
  padding-bottom: 20px;
}
.lapa-category .lapa-category__item {
  width: 13.88889%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
}
.lapa-category .lapa-category__link {
  text-transform: capitalize;
  text-decoration: none;
  height: 35px;
  display: inline-block;
  line-height: 35px;
  font-size: 0.9em;
  color: #444;
}
.lapa-category .lapa-category__link:focus, .lapa-category .lapa-category__link:active, .lapa-category .lapa-category__link:visited {
  color: #444;
}
.lapa-category .lapa-category__link:hover {
  color: #6869D1;
}

/* ==========================================================================
   Lapa Pagination
   ========================================================================== */
.lapa-pagination .lapa-pagination__content {
  width: 97.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  text-align: center;
}
.lapa-pagination li {
  display: inline;
}
.lapa-pagination a {
  color: #999;
  text-decoration: none;
  display: inline-block;
  padding: 7px 15px;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin: 0 15px;
}
.lapa-pagination a:hover {
  color: #6869D1;
  border-color: #6869D1;
}

/* ==========================================================================
   Lapa Footer
   ========================================================================== */
#lapa-footer {
  padding: 30px 0;
  font-size: 0.8em;
}

.lapa-footer__content {
  width: 97.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.lapa-footer__info {
  width: 47.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  margin-left: 0;
}

.lapa-footer__other {
  width: 47.22222%;
  float: right;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  margin-right: 0;
  text-align: right;
}

/* ==========================================================================
   Lapa Detail Page
   ========================================================================== */
.detail-post .detail-post__content {
  overflow: hidden;
  *zoom: 1;
}
.detail-post .detail-post__header {
  padding: 20px 0 25px 0;
  overflow: hidden;
  *zoom: 1;
}
.detail-post .detail-post__info {
  width: 97.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
}
.detail-post .detail-post__info h1 {
  font-size: 1.3em;
}
.detail-post .detail-post__info p {
  color: #666;
  font-size: 0.9em;
}
@media (min-width: 768px) {
  .detail-post .detail-post__info {
    width: 47.22222%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
  }
}
@media (min-width: 1024px) {
  .detail-post .detail-post__info {
    width: 72.22222%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
  }
}
.detail-post .detail-post__link {
  width: 97.22222%;
  float: right;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
}
@media (min-width: 768px) {
  .detail-post .detail-post__link {
    width: 13.88889%;
    float: right;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
    max-width: 250px;
  }
}
@media (min-width: 1024px) {
  .detail-post .detail-post__link {
    width: 13.88889%;
    float: right;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
  }
}
.detail-post .detail-post__site {
  display: inline-block;
  float: right;
  padding: 8px 15px;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  background: #6869D1;
  text-decoration: none;
  color: #fff;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .detail-post .detail-post__site {
    min-width: 200px;
  }
}
@media (min-width: 1024px) {
  .detail-post .detail-post__site {
    min-width: 220px;
  }
}
.detail-post .detai-post__img {
  width: 97.22222%;
  float: right;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
}
.detail-post .detai-post__img img {
  max-width: 100%;
}
.detail-post .lapa-disqus {
  width: 97.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  margin-top: 20px;
  float: none;
}
.detail-post .lapa__latest {
  margin-top: 25px;
}
.detail-post .lapa__latest .detail-post__latest {
  width: 97.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  float: none;
}
.detail-post .lapa__latest .lapa-post--latest {
  padding-top: 2.77778%;
}

.cd-header-buttons {
  position: absolute;
  display: inline-block;
  top: 20px;
  right: 1.38889%;
}

.cd-search-trigger, .cd-nav-trigger {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  overflow: hidden;
  white-space: nowrap;
  /* hide text */
  color: transparent;
  z-index: 3;
}

.cd-search-trigger::before, .cd-search-trigger::after {
  /* search icon */
  content: '';
  position: absolute;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cd-search-trigger::before {
  /* lens */
  top: 11px;
  left: 11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 3px solid #2e3233;
}

.cd-search-trigger::after {
  /* handle */
  height: 3px;
  width: 8px;
  background: #2e3233;
  bottom: 14px;
  right: 11px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cd-search-trigger span {
  /* container for the X icon */
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.cd-search-trigger span::before, .cd-search-trigger span::after {
  /* close icon */
  content: '';
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 22px;
  top: 50%;
  margin-top: -2px;
  left: 50%;
  margin-left: -11px;
  background: #2e3233;
  opacity: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

.cd-search-trigger span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cd-search-trigger span::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cd-search-trigger.search-is-visible::before, .cd-search-trigger.search-is-visible::after {
  /* hide search icon */
  opacity: 0;
}

.cd-search-trigger.search-is-visible span::before, .cd-search-trigger.search-is-visible span::after {
  /* show close icon */
  opacity: 1;
}

.cd-search-trigger.search-is-visible span::before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.cd-search-trigger.search-is-visible span::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cd-nav-trigger span, .cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 24px;
  background: #2e3233;
}

.cd-nav-trigger span {
  /* line in the center */
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -2px;
  -webkit-transition: background 0.3s 0.3s;
  -moz-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}

.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* other 2 lines */
  content: '';
  right: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  -moz-transition: -moz-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
}

.cd-nav-trigger span::before {
  /* menu icon top line */
  top: -6px;
}

.cd-nav-trigger span::after {
  /* menu icon bottom line */
  top: 6px;
}

.cd-nav-trigger.nav-is-visible span {
  /* hide line in the center */
  background: rgba(46, 50, 51, 0);
}

.cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after {
  /* keep visible other 2 lines */
  background: #2e3233;
}

.cd-nav-trigger.nav-is-visible span::before {
  -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
  transform: translateX(4px) translateY(-3px) rotate(45deg);
}

.cd-nav-trigger.nav-is-visible span::after {
  -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
  transform: translateX(4px) translateY(2px) rotate(-45deg);
}

@media only screen and (min-width: 1170px) {
  .cd-nav-trigger {
    display: none;
  }
}
.cd-search {
  position: absolute;
  height: 50px;
  width: 100%;
  top: 50px;
  left: 0;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-search form {
  height: 100%;
  width: 100%;
}

.cd-search input {
  border-radius: 0;
  border: none;
  background: #ffffff;
  height: 100%;
  width: 100%;
  padding: 0 5%;
  box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.cd-search input::-webkit-input-placeholder {
  color: #c9cbc4;
}

.cd-search input::-moz-placeholder {
  color: #c9cbc4;
}

.cd-search input:-moz-placeholder {
  color: #c9cbc4;
}

.cd-search input:-ms-input-placeholder {
  color: #c9cbc4;
}

.cd-search input:focus {
  outline: none;
}

.cd-search.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.nav-is-fixed .cd-search {
  position: fixed;
}

@media only screen and (min-width: 1170px) {
  .cd-search {
    height: 120px;
    top: 80px;
  }

  .cd-search input {
    padding: 0 2em;
    font-size: 3.2rem;
    font-weight: 300;
  }
}
.cd-overlay {
  /* shadow layer visible when navigation is active */
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: rgba(105, 170, 111, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
}

.cd-overlay.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s, -moz-transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s;
}

@media only screen and (max-width: 1169px) {
  .cd-overlay.is-visible {
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
  }

  .nav-on-left .cd-overlay.is-visible {
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px);
  }

  .cd-overlay.is-visible.search-is-visible, .nav-on-left .cd-overlay.is-visible.search-is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
